{%- macro photo(recipe) -%}
  {%- if recipe.data.image -%}
    <div class="photo" style="background-image: url('{{ recipe.data.image | imageUrl }}'); background-size: cover; background-position: center;"></div>
  {%- else -%}
    <div class="photo"></div>
  {%- endif -%}
{%- endmacro -%}

{%- macro recipeHref(recipe) -%}
recipes/{{ recipe.data.slug }}.html
{%- endmacro -%}
