---
permalink: tools/grocery-list.html
eleventyExcludeFromCollections: true
---
{%- from "partials/redirect-stub.njk" import stub -%}
{{ stub("/tools/grocery-list/", "Grocery List Maker", site.url, site.title) }}
